body {
    display: flex;
    justify-content: center;
    background-color: rgba(240,235,248,255);
}

.total {
    display: inline-block;
    width: 600px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
}

.true-answer {
    margin-top: 20px;
}

.question-box {
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
}

.correct-answer {
    background-color: green !important; 
    color: green !important;
}

.wrong-answer {
    background-color: red !important;
    color: red !important;
}

.answer-label {
    background-color: white !important;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #bbb;
    display: inline-block;
}

.answer-field {
    margin-top: 5px;
}

.empty-label {
    color: red;
}